@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Source+Code+Pro&display=swap');

:root {
	--background-color: #0a0e15;
	--header-color: #ffffff;
	--description-color: #e0e4eb;

	--typewriterSpeed: 3s;
	--typewriterCharacters: 11;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	font-family: 'Raleway', sans-serif;
}

p {
	font-size: clamp(0.7rem, 1.2rem, 2.5rem)
}

.section-container {
	display: flex;
    flex-direction: column;
    color: var(--header-color);
    align-items: center;
    gap: 6rem;
    margin-bottom: 30rem;
}

.project.section-container {
	align-items: start;
	margin-bottom: 15rem
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: clamp(1.5rem, 3vw, 2rem);
	margin-bottom: 4rem;
}

.project.header {
	color: var(--header-color);
	margin-bottom: 10rem;
}

.credit {
	text-align: center;
	color: var(--header-color);
	padding: 5vh 15vw;
}

.credit a {
	color: var(--header-color);
	text-decoration: underline;
	cursor: pointer;
}

.credit a:hover {
	color: rgb(182, 44, 248);
}