.about-me-section{
    display: flex;
    flex-direction: column;
    color: var(--header-color);
    align-items: center;
    gap: 6rem;
    margin-bottom: 20rem;
}

img {
   width: max(20vw,250px);
   
}

.about-me-content {
    display: flex;
    gap: 3rem;
    padding: 0 15vw;
    text-align: center;
}

.about-me-content.is-mobile {
    flex-direction: column;
    align-items: center;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}